branches:
    - "main"
plugins:
    - - "@semantic-release/commit-analyzer"
      - preset: conventionalcommits
    - - "@semantic-release/release-notes-generator"
      - preset: conventionalcommits
    - - "@semantic-release/changelog"
      - preset: conventionalcommits
      - "changelogFile": "CHANGELOG.md"
    - - "@semantic-release/exec"
      - prepareCmd: "sh ./.github/scripts/bump_project_version.sh ${nextRelease.version}"
    - - "@semantic-release/git"
      - assets:
          - CHANGELOG.md
          - pyproject.toml
          - src/openweather/__version__.py
        message: "chore(auto-trigger): bumped project version to ${nextRelease.version} [skip ci]"
    - "@semantic-release/github"
