branches:
    - "main"
plugins:
    - "@semantic-release/commit-analyzer"
    - "@semantic-release/release-notes-generator"
    - "@semantic-release/github"
    - "@semantic-release/changelog"
    - - "@codedependant/semantic-release-docker"
      - dockerTags:
          - 'latest'
          - '{{version}}'
          - '{{major}}-latest'
          - '{{major}}.{{minor}}'
        dockerImage: 'book/openweather'  # TODO set this with cookiecutter
        dockerFile: 'Dockerfile'
        dockerRegistry: '719468614044.dkr.ecr.us-west-2.amazonaws.com'  # TODO maybe parametrize this with a cookiecutter argument
        dockerProject: 'kognitos'
        dockerBuildQuiet: false
        dockerArgs:
            CODE_ARTIFACT_TOKEN: '{{ env.CODE_ARTIFACT_TOKEN }}'