branches:
    - "master"
plugins:
    - "@semantic-release/commit-analyzer"
    - "@semantic-release/release-notes-generator"
    - "@semantic-release/github"
    - "@semantic-release/changelog"
    - - "@codedependant/semantic-release-docker"
      - dockerTags:
          - 'latest'
          - '{{version}}'
          - '{{major}}-latest'
          - '{{major}}.{{minor}}'
        dockerImage: 'book/{{ env.BOOK_NAME }}'
        dockerFile: 'Dockerfile'
        dockerRegistry: '{{ env.DOCKER_REGISTRY }}'
        dockerProject: 'kognitos'
        dockerBuildQuiet: false
        dockerArgs:
            CODE_ARTIFACT_TOKEN: '{{ env.CODE_ARTIFACT_TOKEN }}'